/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

nav {
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: #000;
}

html{
  scroll-behavior: smooth;
}

.burger-icon{
  display: none;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 1rem;
}

.text-shadow{
  text-shadow: 2px 2px 1px black;
}

.text-shadow-white{
  text-shadow: 2px 2px 1px white;
}

.custom_drop{
  display: none;  
  margin-top: -300px;
  transition: all 0.5s ease-in-out;
} 

.custom_bg{
  background-color: #000;
  z-index: 10;
}

.custom_responsive{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* grid-gap: 1rem; */
  row-gap: 3rem;
  column-gap: -80px;
}

